
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal()">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" bg-dark text-white>
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cerrarModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >

                <input id="txt_id" type="hidden" value="0"/>

                <div class="row g-2" >

                    <div class="col-sm-6">
                        <label for="txt_nombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txt_nombres" placeholder="Nombres aqui" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="txt_apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txt_apellidos" placeholder="Apellidos aqui" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="txt_correo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txt_correo" placeholder="tu_correo@example.com" autocomplete="off">
                    </div>


                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select class="form-select" id="cboactivo">
                            <option selected>Abrir Menu de Seleccion</option>
                            <option value="1">SI</option>
                            <option value="0">NO</option>
                        </select>
                    </div>



                    <div class="row mt-2" >
                        <div class="col-12">
                            <div id="mensajeError" class="alert alert-danger" role="alert">
                                This is a danger alert—check it out!
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cerrarModal()">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tabladata; // Global para que conocer los datos de la tabla desde cualquier metodo
        var filaseleccionada; // Global para saber que fila se selecciono desde cualquier metodo

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarUsuarios","Home")',
                type: 'GET',
                datatype: "json"
            },
            columns: [
                { "data": "Nombres" },
                { "data": "Apellidos" },
                { "data": "Correo" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">SI</span>'
                        } else {
                            return '<span class="badge bg-danger">NO</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"
            }
        }); // Convertir Nuestra Tabla al Diseño de DataTable (ver web)

        function abrirModal(json) {

            $("#txt_id").val(0);
            $("#txt_nombres").val("");
            $("#txt_apellidos").val("");
            $("#txt_correo").val("");
            $("#cboactivo").val(1);

            $("#mensajeError").hide();


            if (json != null) {

                $("#txt_id").val(json.IdUsuario);
                $("#txt_nombres").val(json.Nombres);
                $("#txt_apellidos").val(json.Apellidos);
                $("#txt_correo").val(json.Correo);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);

            }

            $("#FormModal").modal("show")

        }

        function cerrarModal() {
            $("#FormModal").modal("hide")
        }

        // Acciones al hacer click sobre el boton de editar que esta dentro de la tabla
        $("#tabla tbody").on("click", ".btn-editar", function () {

            filaseleccionada = $(this).closest("tr"); // Captura los datos de la fila que apreto el boton

            var data = tabladata.row(filaseleccionada).data(); // Toma los datos de tabladata de esa fila


            abrirModal(data) // se los pasa al Modal para editarlos

        })


        // Acciones al hacer click sobre el boton de eliminar que esta dentro de la tabla
        $("#tabla tbody").on("click", ".btn-eliminar", function () {

            var usuarioseleccionado = $(this).closest("tr"); // Captura los datos de la fila que apreto el boton

            var data = tabladata.row(usuarioseleccionado).data(); // Toma los datos de tabladata de esa fila

            // console.log(data);

            swal({
                title: "Esta Seguro ?",
                text: "Desea Eliminar el Usuario ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {

                    jQuery.ajax({
                        url: '@Url.Action("EliminarUsuario", "Home")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IdUsuario }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            debugger;

                            if (data.resultado) {

                                tabladata.row(usuarioseleccionado).remove().draw();
                            } else {
                                swal("No se pudo Eliminar", data.mensaje, "error")
                            }
                        },
                        error: function (data) {
                            console.log("error")
                        }

                    });


                    
                });


        })


        function Guardar() {

            // console.log("Datos Guardado")

            var Usuario = {
                Activo: $("#cboactivo").val() == 1 ? true : false,
                Apellidos: $("#txt_apellidos").val(),
                Clave: "ecd71870d1963316a97e3ac3408c9835ad8cf0f3c1bc703527c30265534f75ae",
                Correo: $("#txt_correo").val(),
                IdUsuario: $("#txt_id").val(),
                Nombres: $("#txt_nombres").val()
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarUsuario", "Home")',
                type: "POST",
                data: JSON.stringify({objeto: Usuario}),
                dataType: "json",
                contentType: "application/json; charset=utf8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    //USUARIO NUEVO
                    if (Usuario.IdUsuario == 0) {
                        // alert("Crear Nuevo Usuario")

                        if(data.resultado != 0){
                            Usuario.IdUsuario = data.resultado;

                            tabladata.row.add(Usuario).draw(false) // Añade un nuevo Usuario al datetable

                            cerrarModal();
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }


                    }
                    else {
                        // USUARIO EDITAR
                        if (data.resultado) {
                            tabladata.row(filaseleccionada).data(Usuario).draw(false);
                            filaseleccionada = null;
                            cerrarModal();
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                        
                    }

                },
                error: function (error) {

                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();

                },
                beforeSend: function () { // Para mostrar algo MIENTRAS  la operacion se lleva a cabo
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })

                }

            });
            // cerrarModal();
        }

    </script>

}
